@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kvi5ae');
  src:  url('fonts/icomoon.eot?kvi5ae#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kvi5ae') format('truetype'),
    url('fonts/icomoon.woff?kvi5ae') format('woff'),
    url('fonts/icomoon.svg?kvi5ae#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e91e";
}
.icon-long-arrow-right:before {
  content: "\e917";
}
.icon-angle-down:before {
  content: "\e918";
}
.icon-reply:before {
  content: "\e900";
}
.icon-fill-star:before {
  content: "\e901";
}
.icon-star:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e903";
}
.icon-download:before {
  content: "\e904";
}
.icon-logout:before {
  content: "\e905";
}
.icon-box:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-clock:before {
  content: "\e90a";
}
.icon-basket:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-pinterest:before {
  content: "\e910";
}
.icon-long-arrow-up:before {
  content: "\e911";
}
.icon-comment:before {
  content: "\e912";
}
.icon-share:before {
  content: "\e913";
}
.icon-arrow-left:before {
  content: "\e914";
}
.icon-angle-right:before {
  content: "\e915";
}
.icon-arrow-right:before {
  content: "\e916";
}
.icon-eye:before {
  content: "\e91d";
}
.icon-angle-right-alt:before {
  content: "\e921";
}
.icon-angle-left-alt:before {
  content: "\e91f";
}
.icon-heart:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-dashboard:before {
  content: "\e919";
}
.icon-settings:before {
  content: "\e91a";
}
.icon-angle-left:before {
  content: "\e920";
}
.icon-vk:before {
  content: "\e91b";
}
.icon-close::before {
  content: "\2715";
  font: normal 1em/1 Arial, sans-serif;
}