@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../layout/breakpoints" as *;

.header-alt{
	background: #fff;
	padding: 1rem 0;

	.header-inner{
		flex-wrap: nowrap;
		flex: 1 0 auto;
		align-items: center;
		justify-content: space-between;
		display: none;

		@include md{
			display: flex;
		}
	}

	&__top-bar{
		border-bottom: solid thin $border-bottom-color;
		padding: 1rem;


		&-nav{
			display: flex;
			gap: 15px;
		}
		&-right{

			ul{
				justify-content: flex-end;
			}
		}
		&-right li{
			
		}

		& ul{
			list-style: none;

			li{
				display: inline-block;

				&:not(:last-child){
					margin-right: 0.3125rem;
				}
			}

		}
	}

	&__middle{
		padding: 0;
		line-height: 1;
		display: inline-block;
		width: 33.3333%;
		text-align: center;
	}


}