@use './variables' as *;

@mixin clearfix{
 &::after{
 	content: "";
 	display: table;
 	clear: both;
 }
}
@mixin component-shadow{
	box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.07);
}

@mixin abscenter{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin abs-vertical-center{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

}
@mixin tag-list-style{
	display: inline-block;
	border: solid thin #eee;
	padding: 0.3125rem 0.625rem;
	border-radius: 1.25rem;
}

@mixin post-cat{
	text-transform: uppercase;
    font-size: inherit;
    border: solid 2px #6C6C6C;
    border-radius: 25px;
    padding: 8px 16px;
	letter-spacing: inherit;
}

@mixin button-submit{
	padding: .9375rem;
	font-family: inherit;
	width: 100%;
	border-radius: 20px;
	text-align: left;
	text-transform: uppercase;
	color: $color-white;
	background: var( --subscribe-button-bg );
}
@mixin select-field{
	margin-left: 1rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: .5rem;
	border: solid 1px #cccccc;
	border-radius: 0.1875rem;
	width: 10rem;
	background: $color-white url(../img/icons/angle-down-2.svg) no-repeat center right 10%;
	background-size: 12%;
	color: inherit;
}
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
    @if $breakpoint == tab-land-range {
        @media only screen and (min-width: 56.3125em) and (max-width: 75em) { @content };    //1800
    }
}

@mixin comment-fields{
	padding: 1.5rem 0;
	color: rgba($color-black, .55);

	.comment-text{
		border: thin solid #eee;
		border-radius: 5px;
		width: 100%;
		padding: 1rem;

		&:focus{
			outline: none;
			border-color: rgba($color-black, .4);
		}
		&[placeholder]{
			text-transform: uppercase;
		}
	}
	.field{
		display: inline-block;
		width: calc(( 100% - 2rem )/3);
		margin: -4px;

		&:not(:last-child){
			margin-right: 1.2rem;
		}
		
		@include respond(phone){
			margin: 1rem 0;
			display: block;
			width: 100%;
		}
	}
	p:not(:last-child){
		margin-bottom: 2rem;
	}
	input{
		padding: 1rem;
		border-radius: .3125rem;
		border: thin solid rgba(0,0,0,.2);
		box-shadow: none;
		width: 100%;
		
	}
	input[type="checkbox"]{
		width: auto;
	}
	input[placeholder]{
		text-transform: uppercase;
	}
	input:focus{
		border-color: rgba($color-black, .4);
	}

}