/*
Header
 */

$top-bar-list-margin: 0.6rem;
$top-bar-list-font-color: #ababab;

/*
General
 */
$border-bottom-color: #eeeeee;
$background-color:  #f9f9f9;
$primary-body-color: #2f2f2f;
$contrast-color: #16B9D6;

$contrast-color-dark: #00b0cd;
$color-white: #ffffff;
$color-black: #000000;
$facebook-color: #336699;
$twitter-color: #0099ff;
$instagram-color: #666699;
$pinterest-color: #cc3333;
$vk-color: #5A81B3;

$rating-color: rgb(227, 77, 40);
/*
Site width
 */

$site-width: 75.125rem;

/*
Grid
 */
$grid-horizontal: 3rem;
$grid-vertical: 2rem