.comments{
	margin-top: 1rem;

	.comment{
		border-top: 1px solid #eee;
		padding: 2rem 0;
		color: rgba($color-black, .5);

		.content {
			display: inline-block;
			vertical-align: top;
			padding-left: 1.5rem;
			width: calc(100% - 166px);

			.reply-link{
				float: right;

				a{
					color: $contrast-color;
				}

				a:before{
					content: "\f3e5";
					display: inline-block;
					font-family: fontAwesome;
					margin-right: 0.5rem;
				}
			}
			.commenter{
				color: $color-black;
			}
			.text{
				margin-top: 1rem;
			}
			time{
				font-size: 0.7rem;
			}
		}
		.commenter-avatar{
			width: 100px;
			display: inline-block;
			vertical-align: top;

			img{
				border-radius: 50%;
				height: 100px;
			}
		}
		.comment-replies{
			padding-top: 2rem;
			
			.comment{
				margin-left: 5rem;
				padding-bottom: 0;
			}
		}
	}
	.form-fields{
		padding: 1.5rem 0;
		color: rgba($color-black, .55);

		.comment-text{
			border: thin solid #eee;
    		border-radius: 5px;
    		width: 100%;
    		padding: 1rem;

    		&:focus{
    			outline: none;
    			border-color: rgba($color-black, .4);
    		}
    		&[placeholder]{
    			text-transform: uppercase;
    		}
		}
		.field{
			display: inline-block;
			width: calc((100%-2rem)/3);
			margin: -4px;

			&:not(:last-child){
				margin-right: .2rem;
			}
			
			@include respond(phone){
				margin: 1rem 0;
    			display: block;
    			width: 100%;
			}
		}
		p:not(:last-child){
			margin-bottom: 2rem;
		}
		input{
			padding: 1rem;
			border-radius: .3125rem;
			border: thin solid rgba(0,0,0,.2);
			box-shadow: none;
			width: 100%;
			
		}
		input[type="checkbox"]{
			width: auto;
		}
		input[placeholder]{
			text-transform: uppercase;
		}
		input:focus{
			border-color: rgba($color-black, .4);
		}

	}
}