.main-featured{

	img{
		max-width: 100%;
		vertical-align: top;
	}
	.slides {
	    font-size: 0;
	}
	.slide {
	    width: 50%;
	    display: inline-block;
	    position: relative;
		font-size: 1rem;
	    &:last-child{
	    	padding-left: 0.0625rem;
	    }
	}
	.site-width{
		width: 100%;
	}
	.slider{
		position: relative;
	}
	.overlay{
		background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(255, 255, 255, 0));
		position: absolute;
		left: 0;
		padding: 4rem;
		bottom: 0;
		color: $color-white;
		right: 0;

		a{
			color: $color-white;
		}

		.post-cat{
			text-transform: uppercase;
			border: solid thin $color-white;
			padding: 0.3125rem 0.625rem;
			border-radius: 1.25rem;
		}
		& > .post-title	{
			margin: 1rem 0;
		}

		.post-date{
			margin-left: 1rem;
		}
		.posted-by::before{
			margin-right: 0.5rem;
		}
	}
}