.search-popup-box{
	width: 100%;
	position: fixed;
	background: rgba($contrast-color, .9);
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 999;
	width: 0;
	visibility: hidden;
	transition: all .5s;

	.search-popup{
		@include abscenter;
		width: 70%;
		text-align: center;
		
		input{
			width: 50%;
		    height: 4rem;
		    padding: 1rem 1.2rem;
		    background: rgba($color-white, .8);
		    border: solid thin #efefef;
		    font-size: 3rem;
			border-radius: 3rem;
			caret-color: $contrast-color;
			vertical-align: middle;

			&:focus{
				border: solid thin $contrast-color;
				outline: none;
			}
		}
		button{
			height: 4rem;
			padding: 1rem 2rem;
			vertical-align: middle;
			border-radius: 3rem;
			visibility: hidden;
			transition: visibility .3;

			&:focus{
				outline: none;
				box-shadow: 0 1rem 1rem .09rem rgba($color-black, .2);
			}
		}
	}
	&:target{
		width: 100%;
		visibility: visible;
	}
	&:target button{
		visibility: visible;
		vertical-align: middle;
	}
	.close{
		width: 100%;
		height: 100vh;
		display: block;
	}
}