.social-icons{
	a{

		&:link,
		&:visited{
			color: darken($primary-body-color, 30);
		}

		&:hover{
			color: $contrast-color;
		}

		&:hover + .social-icons__icon-hidden{
			display: inline-block;
		}

	}
	
	/* & .fa {

		&-facebook::before{
			content: "\f39e";
			font-family: fontAwesome;
			display: inline-block;
		}

		&-twitter::before{
			content: "\f39e";
			font-family: fontAwesome;
			display: inline-block;
		}
	} */
	&__icon-hidden{
		display: none;
	}

}