@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.widget__tag-list{

	.tag-item{
		/* display: inline-block;
		border: solid thin #eee;
		padding: 0.3125rem 0.625rem;
		margin-top: 0.9375rem;
		border-radius: 1.25rem; */
		@include tag-list-style;

		&:hover{
			border: solid thin $contrast-color;
		}
		&:hover > a {
			color: $contrast-color;
		}
	}
}