@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.widget__subscribe{
	background-image:  linear-gradient( to right, rgba($contrast-color, 0.9), rgba($contrast-color-dark, 0.9)), url(../img/ben-klea-1184785-unsplash.jpg);
	color: $color-white;
	background-size: cover;

	input{
		display: block;
		padding: .9375rem;
		border-radius: 20px;
		width: 100%;
	}
	.subscribe-heading{
		text-align: left;
	}

	*{
		margin-bottom: 1rem;
	}
	input[type="submit"] {
		color: $color-white;
		text-transform: uppercase;
		padding: 0.75rem;
		text-align: left;
	}
	button{
		/* padding: .9375rem;
		font-family: inherit;
		width: 100%;
		border-radius: 20px;
		text-align: left;
		text-transform: uppercase;
		color: $color-white;
		background: darken($contrast-color-dark, 20); */

		@include button-submit;
		&::after{
			content: "\f178";
			display: inline-block;
			font-family: fontAwesome;
			float: right;
		} 
		
	}
}