
@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../layout/breakpoints" as *;

.title{
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;

	a {
		font-size: 20px;
		color: #000000;

		@include md{
			font-size: 50px;
		}

	}

}

.main-heading{
	position: relative;
	padding: 0.5rem;
	box-shadow: 0 .5rem 2rem .09rem rgba($color-black, 0.15);
	background: $color-white;
	width: 50%;
	margin: 0 auto;

	&::before,
	&::after{
		content: "";
		width: 0.1875rem;
		height: 1.5625rem;
		background: $contrast-color;
		display: inline-block;
		margin-top: 0.125rem;
		top: -0.125rem;
		
	}
	&::before{
		margin-right: 1rem;
		position: absolute;
		left: 0;
		height: 100%;
	}
	&::after{
		margin-left: 1rem;
		position: absolute;
		right: 0;
		height: 100%;
	}
	@include respond(tab-port){
		width: auto;
	}
	
}

.post-date{
	font-size: inherit;
	text-transform: uppercase;
	letter-spacing: inherit;

	&:hover a {
		color: var( --main-color );
	}

	i{
		margin-right: 0.3rem;
	}
	.related-posts &{
		color: $gray-300;
		font-size: 13px;
	}
	.highlight .post-list &{
		font-size: 13px;
		color: $gray-300;
	}
}
.footer__lower{

	.logo a{
		font-size: 3.5rem;
		text-transform: uppercase;

	}
	.copyright-text, .back-to-top{
		padding: 2.5rem 0;

		@include respond(tab-port){
			padding: 0;
		}
	}
	.back-to-top{
		text-align: right;
	}
	a{
		color: darken($color-white, 40);

		&:hover {
			color: $contrast-color;
		}
	}
}
.posted-by{
	text-transform: uppercase;
	font-size: inherit;
	letter-spacing: inherit;

	&:hover a {
		color: var(--main-color);
	}
	i{
		margin-right: 0.3rem;
	}
}
.post-title{
	text-transform: capitalize;

	.highlight .large-post &{
		font-size: 1.75rem;
	}
}
.main-content{
	line-height: 27px;
}

///


