@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.checkout{

    .main-content{
        margin-top:  3.625rem;
    }
    .post-content-box{
        padding: 2.5625rem;
        
        & > div{
            padding: 0;
        }

        .notice{
            margin-bottom: 1.1875rem;
            text-transform: uppercase;
        }
        .notice{
            padding: 1.3125rem;
            background:  #f8f8f8;

            a{
                margin-left: 1rem;
                color: $contrast-color-dark;
            }
        }
        .enter-coupon-notice{
            margin-bottom: 2.5625rem;
        }
    }
    .billing-address-box{

        .billing-details-heading{
            margin-bottom: 1.625rem;
        }
        input{
            padding: 1.3125em;
            border: solid 1px #d2d2d2;
            border-radius: 0.28125rem;
            text-transform: uppercase;
            box-shadow: none;
        }
        p:not(:last-child){
            margin-bottom: 2rem;
        }
        
        .first-name, .last-name{
            width: 48.5%;
        }
        .last-name{
            margin-left: 1.0625rem;
        }
        select{
            @include select-field;
            margin-left: 0;
            padding: 1.3125em;
            text-transform: uppercase;
            background-position: right 4% top 50%;
            color: #999999;
            background-size: 4%;
        }
    
        .different-address {
            margin-right: 1rem;
        }
        [for=additional-notes]{
            display: block;
            margin-bottom: 1.5rem;
        }
        .additional-notes{
            border: solid 1px #d2d2d2;
            border-radius: 0.28125rem;
        }
        
    }
    hr{
        margin: 2rem 0;
    }
    .payment-info-box{
        border: solid 1px #d2d2d2;
        border-radius: 0.28125rem;
        padding: 1rem;
        position: relative;
        margin-bottom: 2rem;

        .card-info{
        
            // & > *:not(.card-form-box):not(hr):not(input) {
            //     display: inline-block;
            // }
            ul {
                .card-brand {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            
            
            .card-form-box{
                margin-left: 1rem;
                margin-top: 2rem;

                p{
                    margin-bottom: 1rem;
                }
                input{
                    box-shadow: none;
                }
                hr{
                    width: 106.8%;
                    margin-left: -2rem;

                }
            }
        }
        hr{
            margin-top: .5rem;
            width: 104.4%;
            margin-left: -1rem;
            
        }
        
        .payment-type + hr{
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
        .paypal-info{
            img{
                display: inline-block;
                vertical-align: middle;
            }
            figure{
                width: 62.5%;
                display: inline-block;

            }
        }
        .paypal-form-box {
            margin-top: 1rem;
        }
        input{
            padding: 1.3125em;
            border: solid 1px #d2d2d2;
            border-radius: 0.28125rem;
            box-shadow: none;

            &::-webkit-input-placeholder{
                color: red;
            }
            &:placeholder-shown + label{
                opacity: 0;
                visibility: hidden;
            }
        }
        input[type="radio"]:checked ~ div{
            display: block;
        }
        
        div[class$="-form-box"]{
            display: none;
        }
        .payment-icons{
            width: 82%;
            text-align: right;
            display: inline-block;
        }
    }
    .order-summary-box{
        display: flex;
        width: 100%;
        background: #f8f8f8;
        padding: 2.1875rem;
        flex-direction: column;
        text-transform: uppercase;
        position: relative;

        .order-product-row{
            display: flex;
            justify-content: space-between;
            flex-grow: 1;

            .th, .td{
                display: table-cell;
                padding: 1rem 0;
                margin: .5rem;
            }
        }
        .grand-amount, 
        .th.price, 
        .th.product-name, 
        .th.amount, 
        .label,
        .sub-total, .shipping{
            font-weight: bold;
            font-size: 110%;
            
        }

        
    }
    .order-summary {
        //position: absolute;
        width: 100%;
        padding: 1rem 2.1875rem;
        background: $contrast-color;
        color: #ffffff;
        display: flex;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 110%;
        justify-content: space-between;
    }
    .button-submit{
        background: $contrast-color;
        width: 18.025rem;
        box-shadow: none;
        position: relative;
        transition: all .3s;

        &::after{
            content:"→";
            display: inline-block;
            position: absolute;
            right: .9375rem;
            font-size: 32px;
            top: 6px;

        }
        &:hover{
            transform: translateY(2px);
            @include component-shadow;
        }
        &:active{
            transform: translateY(1px);
        }
    }
}