.load-more {
    margin-top: 2rem;
	font-size: 0.8375rem;

    a.load-more-link {
	    padding: 0.825rem 1rem;
	    display: inline-block;
	    background: #fff;
	    border-radius: 1.25rem;
	    text-transform: uppercase;
	    color: #666;

		&:hover{
			box-shadow: 0 0.4rem 1.9rem 0.09rem rgba(0, 0, 0, 0.15);
			transform: translateY(-2px);
		}
		
	}
}