@use "../abstract/mixins" as *;
@use "../layout/breakpoints" as *;

.mobile-header{
  display: flex;
  padding: 1rem;
  gap: 15px;

  @include component-shadow;

  @include md{
    display: none;
  }
  
  .logo{
    width: 50%;
    text-align: center;
    flex-shrink: 0;
  }
  .mobile-hamburger{
    display: flex;
    align-items: center;
  }
}