@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../layout/breakpoints" as *;

.main-sidebar {
	
	.widget{
		background: $color-white;
		height: 100%;
		margin-bottom: 3rem;


		&:first-child{
			margin-top: 2.5rem;

			@include lg{
				margin-top: 0;
			}
		}
		@include lg{
			@include component-shadow;
		}

		h2{
			font-family: 'Roboto',sans-serif;
			font-weight: bold;
			margin-bottom: 1rem;
		}

		ol{
			list-style: none;
		}
		li{
			display: flex;
			gap: 10px;
			align-items: center;
			line-height: 1.4;

			&::before{
				content:" ";
				width: 10px;
				height: 10px;
				border-radius: 50%;
				border: solid 1px $gray-300;
				flex-shrink: 0;
			}
			&:hover {

				&::before{
					border: solid 1px $contrast-color;
				}
				a{
					color: $contrast-color;
				}

			}
		}

		&:not(:last-child){
			margin-bottom: 2rem;
		}
		&:not(&__about){
			
			padding: 0 1.425rem;
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
			
		}
		li{
			padding: .5rem 0;

		}
		&-title{
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 3rem;
		}
		img{
			width: 100%;
		}
		.main-heading{
			width: 100%;
		}
		&__about{
			
			img{
				width: 100%;
			}
			.about-image{
				width: 100%;
				border-radius: 50%;
				border: solid 3px $color-white;
			}

			.about-text {
				font-style: italic;
				text-align: center;
				padding: 0 1.425rem;
			}
			.about-content{
				position: relative;
			}
			.image-box__about {
				width: 10rem;
				@include abs-vertical-center;
				top: -8rem;
				
			}
		}

		&__post-list{

			.post {
				display: table;

				&:not(:last-child){
					margin-bottom: 1.5rem;
				}
			}
			.post__thumb-box{
				width: 40%;
				display: table-cell;
			}
			
			.post-meta{
				display: table-cell;
				vertical-align: top;
				padding: 0 1.125rem;
			}
			.post__title{
				font-weight: 600;

			}
			
		}

		&_categories, .product-cat-list{
			
			.category__list-box{
				display: block;
			}
			
			.cat-item, .product-cat{

				&:not(:last-child){
					border-bottom: solid thin $border-bottom-color;
				}
				.children{
					margin-top: .5rem;
					margin-left: 1.5rem;
					border-top: solid 1px $border-bottom-color;
					margin-bottom: -0.5rem;
				}
				a{
					transition: all .3s;
					&::before{
						content: "";
						width: .5rem;
						height: .5rem;
						border-radius: 50%;
						border: solid 1px $primary-body-color;
						display: inline-block;
						margin-right: 1rem;
					}

				}

				&:hover > a, &:hover > span, &:hover > a::before{
					color: $contrast-color;
					border-color: $contrast-color;
				}

				.cat-posts-count {
					border: solid 1px #999;
					border-radius: 30px;
					font-size: 12px;
					padding: 2px;
					margin-top: -3px;
					padding-top: 4px;
					float: right;
					color: #777;
					width: 40px;
					height: 25px;
					text-align: center;
				}
			}
		}

		&__popular-posts{

			.post-slider{
				position: relative;
				transition: all 4s;
			}
			.slider-image__box{
				position: relative;
			}
			.slider-nav{
				position: absolute;
				display: inline-block;
				width: 1.25rem;
				height: 2.5rem;
				padding: 0.3125rem;
				background: #ffffff;
				transform: translateY(-130%);
				


				&.next{
					top: 50%;
					right: 0;
					border-bottom-left-radius: 2.5rem;
					border-top-left-radius: 2.5rem;

					&::after{
						content: "\f0da";
						font-family: fontAwesome;
						display: inline-block;
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
					}

					&:hover{
						
						background: $contrast-color;

					}
				}

				&.prev{
					top: 50%;
					border-bottom-right-radius: 2.5rem;
					border-top-right-radius: 2.5rem;
				
					&::before{
						content: "\f0d9";
						font-family: fontAwesome;
						display: inline-block;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
					
					&:hover{
						
						cursor: pointer;
						background: $contrast-color;

					}

				}

				a{
					width: 100%;
					display: inline-block;
					height: 100%;


				}
			}
		}

		@include respond(tab-port){
			margin-bottom: 1.5rem;
		}
	}
}