.footer{

	.widget__recent-posts{
		.post__thumb-box{
			display: inline-block;
			width: 40%;

			@include respond(tab-land-range){
				width: 100%;
			}
		}
		.post-meta{
			display: inline-block;
			width: 50%;
			margin-left: 20px;
			font-size: 0.875rem;

			@include respond(tab-land-range){
				margin-left: 0;
				width: 100%;
			}
			@include respond(tab-port){
				vertical-align: top;
			}
		}
		
	}
	
}