.featured-products {
	
	.product{
		position: relative;
		padding: 1.5rem 1.3rem;

		.overlay{
			left: 1.3rem;
			right: 1.3rem;
			bottom: 1.5rem;
		}
		&:hover .post-meta{
			padding-top: 1rem; 
			background: rgba($color-black, .5);
			& > *:not(.post-title){
				opacity: 1;
				visibility: visible;
				height: 100%;

			}
		}
	}
	.post-meta{
		color: $color-white;
		padding: 0;
		margin: 0;
		background: transparent;
		text-transform: capitalize;

		a{
			color: $color-white;
		}
		
		& > *:not(.post-title) {
			width: 50%;
			margin: 0 auto !important;
			text-align: center;
			padding: .4rem 0;
			height: 0;
			display: block;
			opacity: 0;
			visibility: hidden;
			transition: all .8s;
		}
		
		.post-title{
			padding: .5rem 1rem;
			background: $contrast-color;
			position: relative;
			margin-top: 0;

			&::after{
				content: "\f178";
				display: inline-block;
				font-family: fontAwesome;
				position: absolute;
				right: 1rem;
			}
		}

		.post-cat{
			border: none;

			a{
				color: $contrast-color;
			}
		}
	}
}