.blog-style{
	font-size: 0;

	.post-thumb{
		padding: 1.5rem;
		width: 40%;
	}
	&.listing{
		.post-excerpt{
			font-size: 1rem;
			width: 60%;

			& > *:not(.share-counter){
				padding: 0;
				padding-top: 0.9rem;
			}
			p{

				@include respond(phone){
					padding-left: 1rem !important;
					padding-right: 1rem !important;
				}
			}
		}
	}
	.share-counter{
		position: unset;
		width: 100%;

		@include respond(phone){
			width: 167%;
			margin-left: -67%;
		}
	}
	.post-meta{
		margin: 0;

		.post-cat{
			display: inline-block;
			width: auto;
		}
		.post-date{
			margin-left: 2rem;
		}
		.posted-by{
			@include respond(phone){
				margin-left: 0 !important;
			}
		}
		& > * {

			@include respond(tab-land){
				margin-right: 1rem !important;
				margin-left: 0 !important;
			}
		}
	}
	
}