<div class="slides">
	<div class="slide">
		<a href="#" class="slide-post-link"><img src="img/toa-heftiba-257785-unsplash.jpg" alt="Post 1"></a>
		<div class="post-meta overlay">
			<span class="post-cat"><a href="#">Lifestyle</a></span>
			<h2 class="post-title">
				<a href="#">Most Beautiful Days in Manhattan have started</a>
			</h2>
			<span class="posted-by"> <a href="#">By John Doe </a> </span>
			<time class="post-date">18 July 2018</time>
			
		</div>
	</div>
	<div class="slide">
		<a href="#" class="slide-post-link"><img src="img/daniel-silva-gaxiola-1187372-unsplash.jpg" alt="Post 2"></a>
		<div class="post-meta overlay">
			<span class="post-cat"><a href="#">Lifestyle</a></span>
			<h2 class="post-title">
				<a href="#">A Calm comes over the lake this month</a>
			</h2>
			<span class="posted-by"> <a href="#">By John Doe </a> </span>
			<time class="post-date">18 July 2018</time>
			
		</div>
	</div>

</div>